{% extends 'base.html.twig' %}

{% block title('Accueil') %}

{% block body %}

    <div class="row">
        <div class="col-md-4 offset-md-10">
            <h4>Date du jour : {{ "now" | date('d/m/Y') }}</h4>
        <h4>Participant : {{ app.user.nom }} . {{ app.user.prenom | first }}</h4>
    </div>
    </div>

    <h3>Filter les sorties</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Rechercher</button>
    {{ form_end(form) }}

    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in sortie %}
                    {% set registered = false %}
                    {% for user in i.user  %}
                        {% if app.user.id == user.id %}
                            {% set registered = true %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <th>{{ i.nom }}</th>
                        <td>{{ i.dateHeureDebut | date('Y-m-d H:i:s') }}</td>
                        <td>{{ i.dateLimiteInscription |date('Y-m-d') }}</td>
                        <td>{{ i.nbInscriptionsMax }}</td>
                        <td>
                                {{ i.etat.libelle }}
                        </td>
                        <td>
                            {% if registered %}
                                    X
                            {% endif %}
                        </td>
                        <td>{{ i.organisateur.pseudo }}</td>
                        <td>

                            <a href="{{ path('afficher_sortie', {id:i.id}) }}" class="btn btn-ms btn-primary">Afficher</a>

                            {% if registered %}
                                <a href="{{ path('desister', {id:i.id}) }}" class="btn btn-ms btn-primary"> Se désister</a>
                            {% else %}
                                <a href="{{ path('inscrire', {id:i.id}) }}" class="btn btn-ms btn-primary">S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ path('new_sortie') }}" class="btn btn-lg btn-primary">Créer une sortie</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}