
{% block stylesheets %}
<style>
    @media only screen and (max-width: 600px) {
        #profil, #sites, #ville{
            display: none;
        }
    }
</style>
{% endblock %}


<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/icone.png') }}"/>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('affichage') }}"><img height="75" width="75" src="{{ asset('img/icone.png') }}" alt="sortir"><h1 style="float: right; margin-left: 20px; margin-top: 10px">Sortir.com</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
               <ul class="navbar-nav navbar-right mb-2 mb-lg-0">
                   {% if is_granted('ROLE_ADMIN') %}
                   <li class="nav-item" id="ville">
                       <a class="nav-link active" aria-current="page" href="{{ path('admin_gerer_ville') }}">Villes</a>
                   </li>
                   <li class="nav-item" id="sites">
                       <a class="nav-link active" aria-current="page" href="{{ path('admin_gerer_site') }}">Sites</a>
                   </li>
                   {% endif %}
                   <li class="nav-item">
                       <a class="nav-link active" aria-current="page" href="{{ path('affichage') }}">Accueil</a>
                   </li>
                   <li class="nav-item" id="profil">
                       <a class="nav-link" href="{{ path('user_modif') }}">Mon profil</a>
                   </li>
                   <li class="nav-item">
                       <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                   </li>
               </ul>
        </div>
    </div>
</nav>
