{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="text-align: center">Affichage d'une sortie</h1>
    <div >
        <p>Nom de la sortie : </p>{{ sortie.nom }}
        <p>Date et Heure de la sortie : </p>{{ sortie.dateHeureDebut | date('Y-m-d H:i:s') }}
        <p>Date limite d'inscription : </p>{{ sortie.dateLimiteInscription | date('Y-m-d H:i:s')  }}
        <p>Nombre de places : </p>{{ sortie.nbInscriptionsMax }}
        <p>Durée : </p>{{ sortie.duree  }}
        <p>Description et infos : </p>{{ sortie.infoSortie }}
        <p>Ville organisatrice : </p>{{ sortie.site }}
        <p>Lieu : </p>{{ sortie.lieu }}
        <p>Rue : </p>{{ sortie.lieu.rue }}
        <p>Code postal : </p>{{ sortie.lieu.ville.codePostal }}
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <h4>Liste des participants inscrits :</h4>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for i in users %}
                    <tr>
                        <th>{{ i.pseudo }}</th>
                        <td>{{ i.nom}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}