{% extends 'base.html.twig' %}
{% block javascripts %}
    <script>

        /* sur changement de la données dans la liste deroulante de ville ...*/
        $(document).on('change', '#modifier_sortie_form_lieu', function () {
            /* chargement des lieux de la ville concernée */
            chargerListeLieux();
        })

        /* fonction permettant de recuperer les lieux en fonction de la ville selectionnée */
        function chargerListeLieux(){
            $.ajax({
                method: "POST",
                url: "/sortir.com/public/ajax/lieu", /* appel de la fonction rechercheLieuByVille du controlleur AjaxController*/
                data: {
                    'ville_id' : {{ sortie.lieu.ville.id }} //recupération de la ville dans la data
                }
            }).done(function (response) {
                $('#modifier_sortie_form_lieu').html(''); //initialisation de la liste des lieux
                //chargement des lieux fournis dans la response, dans la liste deroulante
                for(var i = 0 ; i < response.length ; i++) {
                    console.log(response[i])

                    var lieu = response[i];

                    let option = $('<option value="'+lieu["id"]+'">'+lieu["nom"]+'</option>');

                    $('#modifier_sortie_form_lieu').append(option);
                    $('#modifier_sortie_form_rue').val(lieu['rue']);
                    $('#modifier_sortie_form_codepostale').val(lieu['codePostale']);

                }

            })
        }
    </script>
{% endblock %}
{% block body %}

    <h1 style="text-align: center">Modifier sortie</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enregister</button>
    <a href="{{ path('affichage') }}" class="btn btn-primary">Annuler</a>
    <a href="{{ path('remove_sortie',{id :sortie.id}) }}" class="btn btn-primary"> Supprimer </a>
    {{ form_end(form) }}


{% endblock %}

