{% extends('base.html.twig') %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center">{{ user.pseudo }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img style="" height="150px" width="150px" src="{{ asset('img/' ~ user.photo_profil) }}">
        </div>
        <div class="col-md-6">
            <p>Prénom : {{ user.prenom }}</p>
            <p>Nom : {{ user.nom }}</p>
            <p>Téléphone : {{ user.telephone }}</p>
            <p>Email : {{ user.email }}</p>
            <p>Ville de ratachement : {{ user.site.nom }}</p>
        </div>
    </div>

{% endblock %}